<div class="w-full max-w-lg mt-10 p-8 bg-white shadow-lg rounded-lg mx-auto">
  <h3 class="text-3xl text-center text-red-400 font-semibold mb-6">Cadastro</h3>
  <form [formGroup]="registerForm" class="w-full flex flex-col space-y-4">
    <div class="flex flex-col">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="firstName" />
        <mat-icon matPrefix>person_outline</mat-icon>
        <mat-error *ngIf="registerForm.get('firstName')!.hasError('required')">
          *Campo obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input matInput placeholder="Sobrenome" formControlName="lastName" />
        <mat-icon matPrefix>person_outline</mat-icon>
        <mat-error *ngIf="registerForm.get('lastName')!.hasError('required')">
          *Campo obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-icon matPrefix>mail_outline</mat-icon>
        <mat-error *ngIf="registerForm.get('email')!.hasError('required')">
          *Campo obrigatório
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')!.hasError('email')">
          *Email inválido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário" formControlName="userName" />
        <mat-icon matPrefix>alternate_email</mat-icon>
        <mat-error *ngIf="registerForm.get('userName')!.hasError('required')">
          *Campo obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-icon matPrefix>lock_outline</mat-icon>
        <mat-icon class="hide-password" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off_outline" : "visibility_outline"
        }}</mat-icon>
        <mat-error *ngIf="registerForm.get('password')!.hasError('required')">
          *Campo obrigatório
        </mat-error>
        <mat-error
          *ngIf="registerForm.get('confirmPassword')!.hasError('mustMatch')"
        >
          As senhas não correspondem
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>Confirmar Senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <mat-icon matPrefix>lock_outline</mat-icon>
        <mat-icon class="hide-password" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off_outline" : "visibility_outline"
        }}</mat-icon>
        <mat-error
          *ngIf="registerForm.get('confirmPassword')!.hasError('required')"
        >
          *Campo obrigatório
        </mat-error>
        <mat-error
          *ngIf="registerForm.get('confirmPassword')!.hasError('mustMatch')"
        >
          As senhas não correspondem
        </mat-error>
      </mat-form-field>
    </div>
    <button
      class="bg-red-400 p-2 rounded mt-3 text-white hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-red-600"
      [disabled]="!registerForm.valid"
      (click)="register()"
    >
      Enviar
    </button>
  </form>
  <div class="text-center mt-4">
    <span class="font-semibold">Já tem uma conta?</span>
    <a
      href=""
      class="text-red-400 ml-2 cursor-pointer font-bold hover:text-red-500"
      >Login</a
    >
  </div>
</div>
